@use "vars";

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-ligth-pink);
}
.menu{
    display: none;
}
.logo{
    width: 200px;
}
.nanvbar-left ul ,
.nanvbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    right: 60px;
}
.nanvbar-left{
    display: flex;
}
.nanvbar-left ul {
    margin-left: 12px;
}
.nanvbar-left ul li a ,
.nanvbar-right ul li a {
    text-decoration: none;
    color: var(--very-ligth-pink);
    border: 1px solid var(---white);
    padding: 8px;
    border-radius: 8px;
}
.nanvbar-left ul li a:hover ,
.nanvbar-right ul li a:hover{
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
}
.nanvbar-email{
    color: var(--very-ligth-pink);
    font-size: var(--sm);
    margin-right: 12px;
}
.nanvbar-shopping-cart{
    position: relative;
}
.nanvbar-shopping-cart img{
    width: 35px;
}
.numero{
    position: absolute;
    top: -4px;
    right: 1px;
}
@media(max-width: 640px){
    .menu{
        display: block;
    }
    .nanvbar-left ul{
        display: none;
    }
    .nanvbar-email{
        display: none;
    }
}